body {
	font-family: 'Roboto', sans-serif;
}
#container {

	width:620px;
	margin:auto;
}
#master {
	border:1px solid gray;
	border-radius:5px;
	width:620px;
	padding:0;
	box-shadow: 1px 1px 1px #888888;

}

h1 {
	margin: 0;
	position: absolute;
	left:30px;
	top:20px;
	font-weight: normal;
}
#headerDiv {
	width:620px;
	color:#fff;
	background-color:#6199e7;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	height:75px;
	text-align: center;
	position: relative;
	margin-bottom:30px;
}


.inputDiv {
	border:1px solid #b4b4b4;
	border-radius: 3px;
	margin:auto;
	margin-bottom: 20px;
	width:555px;
	position: relative;

}

.input {
	position:relative;
	margin:2px;
	margin-left:25px;
	width:495px;
	height:30px;
	outline:none;
	border:none;
}

#user-comment {
	padding-top: 80px;
}


#images {
	position:absolute;
	bottom:8px;
	left:5px;
}

#submit {
	height:40px;
	width:100px;
	border-radius: 3px;
	color:white;
	background-color: blue;
	position: relative;
	top:15px;
	left:25px;
	border:none;
	font-size: 14px;
}





#footerDiv {
	width:620px;
	color:#fff;
	background-color: #c9e0ff;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	height:75px;
}

select {
	width:558px;
	height:35px;
	border:none;
	position: relative;
	left:30px;
	margin-bottom: 20px;
	
}