#container {
	height:650px;
	width:520px;
	margin:auto;
}
#master {
	border:2px solid gray;
	border-radius:3px;
	width:520px;
	padding:0;

}

h1 {
	margin: 0;
	position: relative;
	top:20px;
}
#headerDiv {
	width:520px;
	color:#fff;
	background-color:#3B5998;
	height:75px;
	text-align: center;
	position: relative;
	margin-bottom:30px;
}
#input {
	position:relative;
	margin:2px;
	width:425px;
	padding-left: 30px;
	height:30px;
	
	border:none;
	

}

#inputDiv {
	border:1px solid black;
	border-radius: 3px;
	margin:8px;


}
#images {
	right:450px;
	position: relative;



}

#input:nth-child(4) {
	display: none;
}

#input:nth-child(7) {
	height:100px;
}

#footerDiv {
	width:520px;
	color:#fff;
	background-color: #6bcbdb;
	height:75px;
}

select {
	width:425px;
	margin-left: 20px;
}