#container {
	height:650px;
	width:500px;
	margin:auto;
}
#master {
	border:2px solid gray;
	border-radius:3px;
	width:500px;
	padding:0;

}

h1 {
	margin: 0;
	position: relative;
	top:20px;
}
#headerDiv {
	width:500px;
	color:#fff;
	background-color:#3B5998;
	height:75px;
	text-align: center;
	position: relative;
	margin-bottom:30px;
}
#input {
	position:relative;
	margin:2px;
	width:425px;
	padding-left: 30px;
	height:30px;
	
	border:none;
	

}

#inputDiv {
	border:1px solid black;
	border-radius: 3px;


}
#images {
	
	position: relative;
	right:450px;


}



#input:nth-child(6) {
	height:100px;
}

#footerDiv {
	width:500px;
	color:#fff;
	background-color: #6bcbdb;
	height:75px;
}

select {
	width:425px;
	margin-left: 20px;
}